<main>

    <app-sidebar-board class="sidebar"></app-sidebar-board>
    
    <div class="quadro">
        <div class="coluna" *ngFor="let col of Colunas">
    
            <div class="coluna-header">
                <h1>{{col.nome}}</h1>
    
                <!--X para excluir a coluna-->
                <button class="btn-icon">✖</button>
            </div>
    
            <div class="tarefa" *ngFor="let task of col.tarefas">
                <div class="tarefa-header">
                    <h1>{{task.titulo}}</h1>
                    <button class="btn-reticencias">...</button>
                    <!--Três pontinhos para mais informações da taks, exemplo:
                        Quem Criou;
                        Quando foi criado;
                        Prazo;
                        Editar;
                        Excluir task;-->
                    </div>
                <p *ngIf="task.descricao">{{task.descricao}}</p>
            </div>
    
            <button class="btn-addTask">+ Adicionar Tarefa</button>
    
        </div>
    </div>
</main>