main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;    ;
    height: 100vh; 
    width: 100vw; /* Garante que o container principal não passe da tela */
    overflow: hidden; /* Trava a rolagem da página inteira */
}

/* Adicione isso para garantir que o componente do quadro cresça */
app-quadro {
    flex: 1;      /* Ocupa o espaço que a sidebar não usar */
    min-width: 0; /* Permite encolher se necessário */
    height: 100vh;
}