header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #FFD700;

}
/* Container do Título e Botão */
.div-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px; /* Altura fixa ajuda a não pular */
}

/* ESTILO COMUM (Para os dois ficarem parecidos) */
.titulo-texto,
.titulo-input {
    font-size: 1.5rem;
    font-weight: 700;
    color: #2D3748; 
    font-family: inherit;
    margin: 0;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent; /* Reserva espaço pra borda não pular */
}

/* ESPECÍFICO DO H1 */
.titulo-texto:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* ESPECÍFICO DO INPUT */
.titulo-input {
    background-color: #2D3748; /* Fundo branco quando edita */
    color: #FFF; /* Letra preta pra ler bem */
    outline: none;
    border: 2px solid #FFF; /* Borda azul/cinza de foco */
    width: auto;
    min-width: 150px;
    cursor: text;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 90%;
    margin-right: 20px;
}
.colaboradores {

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}
.icon-perfil{
    width: 30px;
    height: 30px;
    
}
.icon-perfil img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.compartilhar{
    display: flex;
    align-items: center; /* Centraliza ícone e texto */
    justify-content: center;
    gap: 10px; /* Espaço entre o bonequinho e o texto */
    
    background-color: #2D3748; /* Fundo Preto igual da foto */
    color: #FFFFFF; /* Texto/Ícone Branco */
    
    padding: 8px 20px; /* Tamanho do botão */
    border-radius: 8px; /* Borda arredondada */
    
    cursor: pointer;
    transition: all 0.2s ease;
    
    /* Garante que fique alinhado com as fotos de perfil */
    height: 40px; 
    box-sizing: border-box;
    margin-left: 15px; /* Afasta um pouco das fotos de perfil */
}
/* Efeito ao passar o mouse */
.compartilhar:hover {
    background-color: #333333; /* Cinza escuro */
    transform: translateY(-2px); /* Sobem um pouquinho */
}
/* O ÍCONE (Bonequinho) */
.compartilhar i {
    font-size: 14px;
    color: #FFF;
}

/* O TEXTO (Botão transparente dentro da div) */
.btn-share {
    background: transparent;
    border: none;
    color: #FFF;
    font-weight: 500; /* Texto um pouco mais grosso */
    font-size: 14px;
    cursor: pointer;
    font-family: inherit; /* Usa a mesma fonte do site */
}