<header>
    <div class="div-titulo">
        <h1 class="titulo-texto" *ngIf="!editando" (click)="editar()"  >{{titulo}}</h1>
        <input *ngIf="editando" [(ngModel)]="titulo" (blur)="salvar()" (keyup.enter)="salvar()" type="text" class="titulo-input" value="Meu Quadro" autofocus>

        <!-- <input type="text" class="titulo" value="Quadro 1" placeholder="Nome do Quadro"> -->
            <i class="fa-solid fa-pen"></i>
    </div>

    <div class="info">
        <div class="colaboradores">
            <div class="icon-perfil">
                <img src="assets\img\profile\homem-retrato-rindo.jpg" alt="">
            </div>
            <div class="icon-perfil">

                <img src="assets\img\profile\jovem-mulher-feliz-na-camisola.jpg" alt="">
            </div>
        </div>

        <div class="compartilhar">
            <i class="fa-solid fa-share"></i> <!--seta para compartilhar-->
            <button class="btn-share">Compartilhar</button>
        </div>

    </div>
</header>