<div class="sidebar">
    <nav>
        <div class="opcao">
            <a href="#vantagens">
                <p>Vantagens</p>
            </a>
        </div>
        <div class="opcao">
            <a href="#posts">
                <p>Projetos</p>
            </a>
        </div>
        <div class="opcao">
            <a href="#integracoes">
                <p>Integrações</p>
            </a>
        </div>
        <div class="opcao">
            <a href="#publicar-projetos">
                <p>Publicar Projeto</p>
            </a>
        </div>
        <div class="opcao">
            <a href="">
                <p>Ferramenta</p>
            </a>
        </div>
        <div class="opcao">
            <a href="#footer">
                <p>Contato</p>
            </a>
        </div>
        <div class="opcao">
            <a href="#footer">
                <p>Quem Somos?</p>
            </a>
        </div>
    </nav>
</div>