<header>
    <img src="assets/img/logos/working_logo.svg" alt="Working_logo" id="logo">

    <div id="menu">
        <span class="login">
            <button class="login_button" id="fazer_login_btn" routerLink="auth/login">Faça login</button>
            <button class="login_button" id="cadastrar_btn">Cadastre-se</button>
        </span>

        <svg id="lupa" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
            <path
                d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
        </svg>

        <svg [class.ativo]="isMenuOpen" (mouseenter)="joinMouse()" (mouseleave)="exitMouse()" id="menu_burguer" width="42" height="28" viewBox="0 0 42 28" fill="none" xmlns="http://www.w3.org/2000/svg">

            <path class="bar top" d="M0 4.58333V0H41.25V4.58333H0Z" />

            <path class="bar mid" d="M13.75 16.0417V11.4583H41.25V16.0417H13.75Z" />

            <path class="bar bot" d="M13.75 27.5V22.9167H41.25V27.5H13.75Z" />

        </svg>
    </div>
</header>
<app-sidebar-home [class.ativo]="isMenuOpen" (mouseenter)="joinMouse()" (mouseleave)="exitMouse()"></app-sidebar-home>