header{
    position: relative;
    max-width: 100vw;
    display: flex;
    padding: 22px 65px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

#logo {
    width: 170px;
    height: auto;
}

#menu{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.login {
    display: flex;
    width: 60%;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-shrink: 0;
}

.login_button{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 50px;
    padding: 5px 10px;
    transition: transform 0.2s ease;
}

.login_button:hover{
    transform: translateY(-3px);
    cursor: pointer;
}

#fazer_login_btn {
    border: 2px solid #F5D12D;
    background: none;
    color: #fff;
}
#fazer_login_btn:hover {
    background-color: #F5D12D;
    color: #2D3748;
}

#cadastrar_btn {
    background: #F5D12D;
    color: #2D3748;
}
/*zxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
#lupa {
    width: 50px;
    height: auto;
    fill: #F5D12D;
    transition: fill 0.2s ease; 
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

#lupa:hover {
    fill: #d5b31c;
    cursor: pointer;
}

#menu_burguer {
    fill: #F5D12D;
    transition: fill 0.2s ease; 
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
#menu_burguer:hover{
    fill: #d5b31c;
    cursor: pointer;
}