* {
    padding: 0;
    margin: 0;
    border: 0;
}
section {
    height: 95vh;
    background-color: #FFD700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    position: relative;
}

.grid-cards {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.card-vantagem {
    
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    width: 400px;
    height: 575px;
    padding: 28px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 20px;
    background: #FFF;
    
    opacity: 0; 
    transform: translateY(50px); 
    
    /* Prepara a animação */
    transition: all 2.0s cubic-bezier(0.25, 0.8, 0.25, 1);

}

.card-vantagem:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

section.vantagem-section.aparecer .card-vantagem{
    opacity: 1; 
    transform: translateY(0);
}
section.vantagem-section.aparecer .frase{
    opacity: 1; 
    transform: translateY(0);
    
}


section.vantagem-section.aparecer .card-vantagem:nth-child(1) {
    transition-delay: 0.1s;
}

/* O 2º card espera um pouco */
section.vantagem-section.aparecer .card-vantagem:nth-child(2) {
    transition-delay: 0.3s;
}

/* O 3º card espera mais */
section.vantagem-section.aparecer .card-vantagem:nth-child(3) {
    transition-delay: 0.5s;
}

.icon {
    width: 140px;
    height: auto;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.div-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px
}
.div-descricao p {
    text-align: center;
}


/* ===================== */
.vantagem-section::before,
.vantagem-section::after {
    content: '';           /* Obrigatório para pseudo-elemento */
    position: absolute;    /* Solto dentro do card */
    height: 5px;           /* Espessura da barra */
    width: 0%;             /* Começa invisível (largura 0) */
    background-color: #2D3748;
    transition: width 1.5s cubic-bezier(0.25, 0.8, 0.25, 1); /* Animação suave */
}

/* BARRA DE CIMA (Cresce da esquerda) */
.vantagem-section::before {
    top: 5%;
    right: 5%;
}

/* BARRA DE BAIXO (Cresce da direita) */
.vantagem-section::after {
    bottom: 5%;
    left: 5%;
}

.vantagem-section.aparecer::before{
    width: 90%;
}
.vantagem-section.aparecer::after {
    width: 75%;
}

button {
    background: none;
    color: #2D3748;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 50px;
    padding: 5px 10px;
    transition: transform 0.2s ease;
    border: 2px solid #2D3748;
    bottom: 3.3%;
    right: 5%;   
}


button:hover {
    transform: translateY(-3px);
    background: #2D3748;
    color: #FFD700;
}

.frase {
    opacity: 0; 
    transform: translateY(50px); 
    transition: transform 1.0s ease;
    
}