<footer>
    <div id="divFooter_cima">
        <div class="divPalavras">
            <span id="quemSomos">
                <h5>Quem Somos?</h5>
                <p>Sobre Nós</p>
                <p>Contato</p>
                <p>Política de Privacidade</p>
                <p>Termo de Serviços</p>
                <p>Configuração de Cookies</p>
            </span>
        </div>
        <div class="divPalavras">
            <span id="encontreProjetos">
                <h5>Quem Somos?</h5>
                <p>TI e Programação</p>
                <p>Desing & Multimedia</p>
                <p>Maketing e Vendas</p>
                <p>Suporte Adminstrativo</p>
                <p>Dados</p>
            </span>
        </div>
        <div id="divVitrineComent">
            <span id="vitrineComent">
                <!--comentario 1-->
                <span class="comentario">
                    <!--BOM COMPONETE PARA PUXAR API-->
                    <div>
                        <img src="assets/img/icons/codes 1.png" alt="">
                        <h6>TI e Programação</h6>
                    </div>

                    
                    <p> <!--COMENTARIO--> 
                        “Encontrei esta plataforma quando estava travado em um projeto. O conteúdo é o mais claro e atualizado que já vi na área. A didática é excelente e consegui aplicar o conhecimento no mesmo dia. Virou minha referência número um!"
                    </p>
  
                    <div class="review-card">
        
                        <div class="review-avatar">
                            <img src="assets/img/profile/homem-retrato-rindo.jpg/ERRO/" alt="Foto de Pedro Miguel">
                        </div>
                        
                        <div class="review-content">
                            
                            <div class="review-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i> </div>
                            
                            <p class="review-name">Pedro Miguel,</p>
                            
                            <p class="review-date">26 de Maio.</p>
                            
                        </div>
                    </div>
                </span>
                <!--comentario 3-->
            </span>
        </div>
    </div>
    <div id="divFooter_baixo">

    </div>
</footer>