footer {
    display: flex;
    height: 433px;
    padding: 14px 51px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 46px;
    align-self: stretch;
    background: black;
}

#divFooter_cima {
    display: flex;
    align-items: center;
}
.divPalavras {
    display: flex;
    width: 480px;
    height: 280px;
    padding: 0 104px;
    justify-content: center;
    align-items: center;
}
#quemSomos {
    display: flex;
    width: 272px;
    height: 280px;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    flex-shrink: 0;
}
#quemSomos h5 {
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
#quemSomos p {
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
#encontreProjetos {
    display: flex;
    width: 250px;
    height: 280px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
}
#encontreProjetos h5 {
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
#encontreProjetos p {
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}