* {
    font-family: Nunito;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background: #2D3748;
    display: flex;
    flex-direction: column;
    font-family: Nunito;
}