<div class="quadro-area">

    <app-header-quadro></app-header-quadro>

    <div class="coluna-area" #boardContainer (mousedown)="iniciarArrasto($event, boardContainer)"
        (mouseleave)="pararArrasto()" (mouseup)="pararArrasto()" (mousemove)="moverArrasto($event, boardContainer)">

        <div class="coluna" *ngFor="let col of Colunas">

            <div class="coluna-header">
                <h1>{{col.nome}}</h1>
                <!--X para excluir a coluna-->
                <button class="btn-icon" (click)="mostrarPOPUp(col)">✖</button>
            </div>

            <div class="lista-tarefas">
                <div class="tarefa" *ngFor="let tarefa of col.tarefas">
                    <div class="tarefa-header">
                        <div>
                            <input class="checkbox" (click)="riscarTarefa(tarefa)" type="checkbox" name="Concluir" id="">
                            <h1 [class.riscado]="tarefa.concluida">{{tarefa.titulo}}</h1>
                        </div>
                        <button class="btn-reticencias">...</button>
                        <!--Três pontinhos para mais informações da taks, exemplo:
                                Quem Criou;
                                Quando foi criado;
                                Prazo;
                                Editar;
                                Excluir task;-->
                    </div>
                    <p *ngIf="tarefa.descricao">{{tarefa.descricao}}</p>
                </div>
            </div>

            
            <div class="nova-tarefa" *ngIf="colunaIdCriandoTarefa == col.id">

                <input 
                #inputNovaTarefa
                class="inputNovaTarefa"
                type="text"
                placeholder="Insira o nome da tarefa"
                [(ngModel)]="nomeNovaTarefa"
                (keyup.enter)="addTarefa(col)"
                (blur)="cancelarCriacaoTarefa()">

            <div>
                <button class="btn-add-list-2" (mousedown)="addTarefa(col)">+ Adicionar tarefa</button>
                <button class="btn-icon" (mousedown)="cancelarCriacaoTarefa()">✖</button>
            </div>
        </div>
            
            <button class="btn-add-task" 
            (click)="iniciarCriacaoTarefa(col.id)"
            *ngIf="colunaIdCriandoTarefa !== col.id">+ Adicionar Tarefa</button>
        </div>

        <div class="btn-add-list-1" *ngIf="!criandoLista" (click)="iniciarCriacaoLista()">
            <p>+ Adicionar Lista</p>
        </div>

        <div class="nova-lista" *ngIf="criandoLista">

            <input #inputNovaLista class="inputNovaLista" placeholder="Insira o nome da lista"
                [(ngModel)]="nomeNovaLista" (keyup.enter)="addLista()" (blur)="cancelarCriacaoLista()" type="text">

            <div>
                <button class="btn-add-list-2" (mousedown)="addLista()">+ Adicionar Lista</button>
                <button class="btn-icon" (mousedown)="cancelarCriacaoLista()">✖</button>
            </div>
        </div>
    </div>

    <!--POP PARA CONFIRMAR A REMOÇÃO DA TAREFA-->
    <div class="pop-up-remover-tarefa" [class.ativo]="popUpAtivo">
        <div class="pop-up-conteudo">
            <h2>Confirmar Remoção</h2>
            <p>Tem certeza que deseja remover a Lista "{{listaSelecionada?.nome}}"?</p>
            <p>Esta ação não poderá ser desfeita.</p>

            <div class="pop-up-botoes">
                <button class="btn-confirmar" (click)="removerLista()">
                    Remover
                </button>

                <button class="btn-cancelar" (click)="fecharPOPUp()">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>