<div class="details-box">
    <div class="opcao">
        <i class="fa-solid fa-credit-card"></i>
        <p>Abrir Task</p>
    </div>
    <div class="opcao">
        <i class="fa-solid fa-people-group"></i>
        <p>Membros</p>
    </div>
    <div class="opcao">
        <i class="fa-solid fa-tags"></i>
        <p>Etiquetas</p>
    </div>
    <div class="opcao">
        <i class="fa-regular fa-calendar"></i>
        <p>Data de Entrega</p>
    </div>
    <div class="opcao">
        <i class="fa-solid fa-paperclip"></i>
        <p>Anexo</p>
    </div>
    <div class="opcao">
        <i class="fa-solid fa-right-long"></i>
        <p>Mover</p>
    </div>
    <div class="opcao">
        <i class="fa-solid fa-trash"></i>
        <p>Excluir</p>
    </div>
</div>