.sidebar-board {
    position: relative;
    height: 100vh;
    width: 50px;
    background-color: #FFD700;
    display: flex;
    flex-direction: column;
    gap:5%;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.sidebar-board.fechado {
    width: 0px;       /* A barra some */
    padding: 0;       /* Remove espaçamento interno */
}

/* ESCONDE OS ÍCONES QUANDO FECHAR */
/* Se não fizer isso, os ícones ficam "vazando" ou espremidos */
.sidebar-board.fechado .nav-item,
.sidebar-board.fechado .integracoes-list,
.sidebar-board.fechado .icon-perfil{
    opacity: 0;
    pointer-events: none; /* Impede clicar no nada */
    display: none; /* Remove do fluxo */
}

.seta {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: auto;
    background-color: #FFD700;
    border-radius: 0 50% 50% 0;
    left: 100%;
    top: 50px;
}

.seta img {
    transition: transform 0.5s ease;
    transform: rotate(180deg);
}
/* QUANDO FECHAR, A SETA GIRA 180 GRAUS */
.sidebar-board.fechado .seta img {
    transform: rotate(0deg);
}



.nav-item {
    margin: 20%;
    position: relative;
    width: 80%;
}

.nav-item path {
    width: 100%;
    fill: #2D3748;
}

.nav-item path:hover {
    cursor: pointer;
    fill: #465268;
}

.nav-item.home::after {
    content: '';           /* Obrigatório para pseudo-elemento */
    position: absolute;    /* Solto dentro do card */
    height: 5px;           /* Espessura da barra */
    width: 100%;             /* Começa invisível (largura 0) */
    background-color: #2D3748;

    bottom: -40%;
    left: 0;
}

.integracoes-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    flex:1;
}

.logos {
    width: 80%;
}

.logos img {
    width: 100%;
    height: auto;
    border-radius: 14px;
    transition: all 0.2s ease;
}

.logos img:hover{
    cursor: pointer;
    transform: translateX(2px);
    border-radius: 100px;
}

.icon-perfil {
    width: 80%;
    margin-bottom: 10px;
}

.icon-perfil img {
    border-radius: 100px;
    width: 100%;
    height: auto;
}
