<div class="sidebar-board">

    <div class="nav-item home">
        <i class="fa-solid fa-house"></i>
    </div>

    <div class="integracoes-list">

        <div class="logos">
            <img src="assets\img\logos\Upwork-logo-icon.svg" alt="">
        </div>
        <div class="logos">
            <img src="assets\img\logos\Fiverr.-logo-icon.png" alt="">
        </div>
        <div class="logos">
            <img src="assets\img\logos\99Frellas-logo-icon.svg" alt="">
        </div>
        <div class="logos">
            <img src="assets\img\logos\Workana-logo-icon.svg" alt="">
        </div>
    </div>

    <!-- <div class="nav-item bottom">
        <i class="fa-solid fa-gear"></i>
    </div> -->
</div>