<div class="login-page">
    
    <div class="login-image-side">
        <div class="overlay-text">
            <h1>Organize suas tarefas.</h1>
            <p>A melhor forma de gerenciar seus projetos.</p>
        </div>
    </div>

    <div class="login-form-side">
        
        <div class="form-wrapper">
            <div class="header-login">
                <div class="logo">🚀 TaskBoard</div> 
                <h2>Bem-vindo de volta!</h2>
                <p>Por favor, insira seus dados para entrar.</p>
            </div>

            <div class="social-login">
                <button class="btn-social">
                    <i class="fa-brands fa-google"></i> Google
                </button>
                <button class="btn-social">
                    <i class="fa-brands fa-facebook"></i> Facebook
                </button>
            </div>

            <div class="divider">
                <span>ou</span>
            </div>

            <form (ngSubmit)="entrar()">
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="seu@email.com" [(ngModel)]="dadosLogin.email">
                </div>

                <div class="input-group">
                    <label for="password">Senha</label>
                    <input type="password" name="senha" [(ngModel)]="dadosLogin.senha" id="password" placeholder="••••••••">
                </div>

                <div class="form-options">
                    <label class="remember-me">
                        <input type="checkbox"> 
                        Lembrar de mim
                    </label>
                    <a href="#" class="forgot-link">Esqueceu a senha?</a>
                </div>

                <button type="submit" class="btn-login" >Entrar</button>
            </form>

            <p class="footer-text">
                Não tem uma conta? <a href="auth/sign-up">Cadastre-se</a>
            </p>
        </div>

    </div>
</div>