<section class="hero-section">
    <div class="container">

        <div class="hero-text">
            <h1>
                Conecte-se com <span class="destaque">freelancers</span> para dar vida ao seu projeto.
            </h1>
            <p>
                De desenvolvedores a designers, encontre o talento ideal em minutos. Pagamento seguro e qualidade
                garantida.
            </p>

            <div class="hero-buttons">
                <button class="btn-primary" routerLink="login">Publicar Projeto</button>
                <button class="btn-outline" routerLink="explorar-projetos">Buscar Oportunidades</button>
            </div>

            <div class="trust-badges">
                <span>Trusted by:</span>
                <div class="logos">
                    <i class="fab fa-google"></i>
                    <i class="fab fa-microsoft"></i>
                    <i class="fab fa-aws"></i>
                </div>
            </div>
        </div>

        <div class="hero-image">
            <img #imagemAnimada src="assets\img\bgs\homem-de-tiro-medio-vivendo-como-nomade-digital.jpg" alt="Freelancer trabalhando remotamente">
        </div>

    </div>
</section>